body {
    font-family: 'Sunflower', sans-serif;
    background-image: linear-gradient(to right, black, rgb(26, 1, 1) 50%, black );
  }

  * {box-sizing: border-box;}

.form-inline {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ffffff;
}

label, input, button {
    border: 1px solid #ffffff;
    color: white;
    font-size: large;
    background: transparent;
    overflow: hidden;
    display: inline;
    text-align: center;
    padding: 3px;
  }
label {
  background-color: rgba(67, 230, 239, 0.199);
  padding-left: 10px;
  padding-right: 10px;
}
input{
  background-color: rgba(67, 67, 239, 0.586);
  margin-right: 20px;
}

p {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none; 
}

.refreshTimer {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  background-color: rgba(239, 67, 230, 0.199);
  margin-left:auto;
  margin-right:0;
  font-size: large;
  color: white;
  border: 1px solid #ffffff;
  display: flex;
}

.refreshTimer-timestamp{
  margin-left: 3px;
  float: right;
}

a:visited{
  color: white;
  text-decoration: none; 
}

.form-inline button {
  background-color: rgba(67, 67, 239, 0.586);
  cursor: pointer;
}

.form-inline button:hover {
  background-color: rgba(15, 169, 15, 0.484);
}

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color: rgba(237, 117, 250, 0.077);
  }
  
  tr {
    color: #ffffffd0;
    background-color: rgba(205, 235, 253, 0.094);
  }
  
  tr.spawning {
    background-color: rgba(223, 250, 117, 0.377);
  }
  tr.alive {
    background-color: rgba(117, 250, 139, 0.308);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }